body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.navbar {
  background-color: pink;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-brand {
    font-size: 1.5em;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;

    li a {
      color: white;
      text-decoration: none;
      font-size: 1.5em;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.main {
  flex: 30;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url('public/wallhaven-d5prxl.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  background-color: pink;
  padding: 10px 20px;
  color: white;
  text-align: center;
}

